* {
    margin: 0px;
    color: #F9FAF8;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    background-color: #1F2937;
    padding: 10px 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    flex: 0 0 auto;
    padding-bottom: 50px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-text {
    margin-top: 14px;
}

.hero-text p {
    color: #E5E7EB;
}

.hero-text button {
    background-color: #3882F6;
    border-radius: 4px;
    border: none;
    padding: 3px 15px;
    font-weight: 600;
    margin-top: 10px;
}

.hero img {
    width: 270px;
    height: 230px;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 14px;
}

.picture-lineup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.picture {
    display: flex;
    flex-direction: column;
}

.picture img {
    border: solid 4px #3882F6;
    width: 120px;
    height: auto;
    border-radius: 8px;
}

.picture p {
    color: #1F2937;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
    padding: 50px 160px 5px 160px;
    margin-top: 15px;
}

.quotee {
    background-color: #E5E7EB;
    color:#1F2937;
    padding-left: 540px;
    padding-bottom: 5px;
}

.footer {
    background-color: #1F2937;
}