* {
    margin: 0px;
    color: #F9FAF8;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    background-color: #1F2937;
    padding: 10px 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    flex: 0 0 auto;
    padding-bottom: 50px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-text {
    margin-top: 14px;
}

.hero-text p {
    color: #E5E7EB;
}

.hero-text button {
    background-color: #3882F6;
    border-radius: 4px;
    border: none;
    padding: 3px 15px;
    font-weight: 600;
    margin-top: 10px;
}

.hero img {
    width: 300px;
    height: auto;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 14px;
}

.footer {
    background-color: #1F2937;
}